.container-dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  border: solid 0.9px #bec2c8;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-text{
  display: flex;
}

.btn-text span:first-child{
  margin-right: 5px;
}

.box-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 3px;
}

.box-item:first-child{
  margin-bottom: 12px;
}

.select-tags{
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 2px #aaa;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.box{
  background-color: white !important;
  border-radius: 8px;
  z-index: 99999 !important;
}

.title-drop-down{
  color: #6e7279;
  font-weight: 600;
  font-size: 0.85rem;
}

.box {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  padding: 1.25rem;
  background-color: lightgrey;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider{
  rotate: 90deg;
}