.user-profile{
    position: relative;
}

.online-bubble{
    height: 12px;
    width: 12px;
    border: 2px solid #fff;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: -2px;
}

.online-bubble-true{
    background-color: green;
}